<p>
<%= t('.cny_deposit')%>
</p>
<p>
<%= t('.deposit_situation')%>
</p>
<p>
<%= t('.type', type: @deposit.currency_text)%>
</p>
<p>
<%= t('.amount', amount: @deposit.amount)%>
</p>
<p>
<%= t('.time', time: @deposit.done_at)%>
</p>
<p>
<%= t('.state', state: @deposit.state)%>
</p>
