<h3><%= t('.trades_users') %></h3>
<table cellspacing=0 cellpadding=5>
  <thead>
    <tr>
      <th></th>
      <th><%= t('.trades_count') %></th>
      <th><%= t('.trade_users_count') %></th>
    </tr>
  </thead>
  <tbody>
  <% Market.all.each do |market| %>
    <tr>
      <td><%= market.id %></td>
      <td><%= @stats['trade_users'][market.id][1] %></td>
      <td><%= @stats['trade_users'][market.id][2] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h3><%= t('.fund_stats') %></h3>
<table cellspacing=0 cellpadding=5>
  <thead>
    <tr>
      <th></th>
      <th><%= t('.deposits_count') %></th>
      <th><%= t('.deposits_amount') %></th>
      <th><%= t('.withdraws_count') %></th>
      <th><%= t('.withdraws_amount') %></th>
      <th><%= t('.wallet_stats') %></th>
    </tr>
  </thead>
  <tbody>
  <% Currency.all.each do |currency| %>
    <tr>
      <td><%= currency.code %></td>
      <td><%= @stats['fund_stats'][currency.code][1] %></td>
      <td><%= @stats['fund_stats'][currency.code][2] %></td>
      <td><%= @stats['fund_stats'][currency.code][3] %></td>
      <td><%= @stats['fund_stats'][currency.code][4] %></td>
      <td><%= @stats['wallet_stats'][currency.code][3] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h3><%= t('.top_stats') %></h3>
<table cellspacing=0 cellpadding=5>
  <thead>
    <tr>
      <th></th>
      <th><%= t('.top_trades_users') %></th>
      <th><%= t('.top_volume_users') %></th>
    </tr>
  </thead>
  <tbody>
  <% Market.all.each do |market| %>
    <tr>
      <td><%= market.id %></td>
      <td>
        <table cellspacing=0 cellpadding=5>
          <% @stats['top_stats'][market.id][1].each_with_index do |(uid, count), i| %>
          <% member = Member.find(uid) %>
          <tr>
            <td><%= i+1 %>.</td>
            <td><%= member.name %> &lt;<%= member.email %>&gt;</td>
            <td><%= t('.top_stats_count', count: count) %></td>
          </tr>
          <% end %>
        </table>
      </td>
      <td>
        <table cellspacing=0 cellpadding=5>
          <% @stats['top_stats'][market.id][2].each_with_index do |(uid, volume), i| %>
          <% member = Member.find(uid) %>
          <tr>
            <td><%= i+1 %>.</td>
            <td><%= member.name %> &lt;<%= member.email %>&gt;</td>
            <td><%= volume %><%= market.base_unit.upcase %></td>
          </tr>
          <% end %>
        </table>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
