<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <span><%= t('.search') %></span>
    </div>
    <div class="panel-body">
      <%= form_tag admin_members_path, method: :get do |f| %>
        <div class="col-xs-3">
          <%= select_tag :search_field, options_for_select([  \
            ['E-Mail', 'email'],                               \
            ['Name',  'name'],                                \
            ['Wallet address', 'wallet_address'],             \
            ['SN', 'sn']
          ], @search_field) %>
        </div>
        <div class="col-xs-4">
          <%= text_field_tag :search_term, @search_term %>
        </div>
        <div class="col-xs-3 col-xs-offset-1">
          <%= submit_tag t('.search') %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <span><%= t('.members') %></span>
    </div>
    <div class="panel-body">
      <%= table_for @members, class: 'table table-condensed table-hover' do |t| %>
        <% t.column :id, class: 'col-xs-1' %>
        <% t.column :email, class: 'col-xs-2' do |x| %>
          <code class="text-info">
            <%= x.email %>
          </code>
        <% end %>
        <% t.column 'SN', class: 'col-xs-2' do |x| %>
            <%= x.sn %>
        <% end %>
        <% t.column :created_at, class: 'col-xs-3' %>
        <% t.column 'Disabled? (Web/API)', class: 'col-xs-1' do |x| %>
          <% text = x.disabled? ? 'Yes' : 'No' %>
          <%= link_to text, toggle_admin_member_path(x), remote: true, method: :post, class: 'toggle-web' %>
          &nbsp;/&nbsp;
          <% text = x.api_disabled? ? 'Yes' : 'No' %>
          <%= link_to text, toggle_admin_member_path(x, api: true), remote: true, method: :post, class: 'toggle-api' %>
        <% end %>
        <% t.column :actions, class: 'col-xs-1' do |x| %>
          <%= link_to t('actions.view'), url_for([:admin, x]), target: '_blank' %>
        <% end %>
      <% end %>

      <%= paginate @members %>
    </div>
  </div>
</div>
