<div class="card">
  <%= table_for deposits, class: 'table table-bordered table-striped' do |t| %>
    <% t.column 'TXID' do |x| %>
      <a href="<%= x.transaction_url %>" target="_blank">
        <code class="text-info"><%= x.txid.truncate(36) %></code>
      </a>
    <% end %>
    <% t.column :created_at, 'Created At' %>
    <% t.column 'Currency' do |x| %>
      <% x.currency.code.upcase %>
    <% end %>
    <% t.column 'Member Email' do |x| %>
      <%= link_to x.member.email, url_for([:admin, x.member]), target: '_blank' %>
    <% end %>
    <% t.column 'Amount' do |x| %>
      <code class="text-info"><%= x.amount %></code>
    <% end %>
    <% t.column 'Confirmations' do |x| %>
      <span class="badge"><%= x.confirmations %></span>
    <% end %>
    <% t.column 'State/Actions' do |x| %>
      <span><%= x.aasm_state.humanize %></span>
      <% if can? :write, Deposit%>
        <% if x.may_accept? %>
          <span> / </span>
          <%= link_to 'Accept',
                      admin_deposit_path(x.currency.code, x, event: 'accept'),
                      method:  'PATCH',
                      confirm: 'Confirm deposit?' %>
        <% end %>
        <% if x.may_dispatch? %>
          <span> / </span>
          <%= link_to 'Collect',
                      admin_deposit_path(x.currency.code, x, event: 'collect'),
                      method:  'PATCH',
                      confirm: 'dispatch deposit?' %>
        <% end %>
        <% if x.may_dispatch? && x.currency.is_erc20? %>
          <span> / </span>
          <%= link_to 'Collect with Fees',
                      admin_deposit_path(x.currency.code, x, event: 'collect_fee'),
                      method:  'PATCH',
                      confirm: 'dispatch deposit?' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
