<div class="row">
  <div class="col-6">
  <%= link_to raw("All deposits"), admin_deposit_index_path(state: 'all'), class: 'btn btn-primary  mb-3' %>
  <%= link_to raw("Latest deposits"), admin_deposit_index_path(state: 'latest'), class: 'btn btn-primary  mb-3' %>
  <%= link_to raw("Uncollected deposits"), admin_deposit_index_path(state: 'uncollected'), class: 'btn btn-primary  mb-3' %>
  </div>
</div>
<% if @latest_deposits %>
  <h3><%= currency.code.upcase %> Deposits for the last 24 hours</h3>
  <div class="card">
    <%= render partial: 'table', locals: {deposits: @latest_deposits} %>
  </div>
  <div class="float-right">
  <%= paginate @latest_deposits, params: { route: :admin_deposit_index } %>
  </div>
<% end %>
<% if @all_deposits %>
  <h3> <%= currency.code.upcase %> All deposits</h3>
  <div class="card">
    <%= render partial: 'table', locals: {deposits: @all_deposits} %>
  </div>
  <div class="float-right">
  <%= paginate @all_deposits, params: { route: :admin_deposit_index } %>
  </div>
<% end %>
<% if @uncollected_deposits %>
  <h3> <%= currency.code.upcase %> Uncollected deposits</h3>
  <div class="card">
    <%= render partial: 'table', locals: {deposits: @uncollected_deposits} %>
  </div>
  <div class="float-right">
  <%= paginate @uncollected_deposits, params: { route: :admin_deposit_index } %>
  </div>
<% end %>
