<p>
<%= t(".login_at" , login_datetime:  @member.signup_histories.last.created_at) %>
</p>
<div style="margin:30px 0 0;">
<p >
<%= t(".login_title") %>
</p>
<p>
<%= t(".login_member",member: @member.email) %>
</p>
<p>
<%= t(".login_location",location: find_location(@member.signup_histories.last.ip)) %>
</p>
<p>
<%= t(".login_ip",ip: @member.signup_histories.last.ip) %>
</p>
</div>

