<div class="col-md-6">
  <div class="card">
    <div class="card-body">
      <%= simple_form_for [:admin, @proof] do |f| %>
        <%= f.input :id, readonly: true %>
        <%= f.input :created_at, as: :string, readonly: true %>
        <%= f.input(:currency, readonly: true) { @proof.currency.code.upcase } %>
        <%= f.input :balance %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
