<div class="col-md-6">
  <div class="card">
    <div class="card-body">
      <%= form_for [:admin, @proof] do |f| %>
        <dt>ID</dt>
        <dd><%= f.text_field :id, readonly: true, class: 'form-control' %></dd>

        <dt>Created at</dt>
        <dd><%= f.text_field :created_at, readonly: true, class: 'form-control' %></dd>

        <dt>Currency</dt>
        <dd><%= f.text_field :currency, readonly: true, class: 'form-control', value: @proof.currency.code.upcase %></dd>

        <dt>Balance</dt>
        <dd><%= f.text_field :balance, class: 'form-control' %></dd>

        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
