<tr>
  <td><%= t(".#{trade_side trade}") %></td>
  <td><%= trade.created_at %></td>
  <td><%= trade.market.bid_unit.upcase %></td>
  <td><%= trade.volume %></td>
  <td><%= trade.market.ask_unit.upcase %></td>
  <td><%= trade.volume*trade.price %></td>
  <td><%= trade.price %></td>
</tr>
