<% content_for :frame do %>
  <div class="container history-pages">
    <%= render 'tabs', active: :account %>

    <div class="card card-default" id="transactions">
      <div class="card-body">
        <div class="col-24">
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th><%= t('.type') %></th>
                <th><%= t('.timestamp') %></th>
                <th><%= t('.currency') %></th>
                <th><%= t('.amount') %></th>
                <th><%= t('.fee') %></th>
                <th><%= t('.txid') %></th>
              </tr>
            </thead>
            <tbody class="list">
              <%= render partial: 'transaction', collection: @transactions %>
            </tbody>
          </table>
          <div class="float-right">
            <%= paginate @transactions %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
