<p>
<%= t('.content', currency: @withdraw.currency_text) %>
</p>

<table>
  <tr>
    <td><%= t('withdraw_mailer.withdraw_account') %></td>
    <td><%= [@withdraw.fund_extra_text, '@', @withdraw.fund_uid].join(' ') %></td>
  </tr>
  <tr>
    <td><%= t('withdraw_mailer.withdraw_amount') %></td>
    <td><%= [@withdraw.amount, @withdraw.currency_text].join(' ') %></td>
  </tr>
  <tr>
    <td><%= t('withdraw_mailer.withdraw_time') %></td>
    <td><%= @withdraw.updated_at %></td>
  </tr>
</table>

<% if @withdraw.fiat? %>
<p>
<% if working_time? %>
<%= t('withdraw_mailer.note') %>
<% else %>
<%= t('withdraw_mailer.offline_note') %>
<% end %>
</p>
<% end %>

<p>
<%= raw t("mailer.please_contact", contact_mail: ENV['SUPPORT_MAIL']) %>
</p>
