<div class="row">
  <div class="col-xs-10">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span>Deposit details</span>
      </div>
      <div class="panel-body">
        <%= description_for :member do %>
          <dt>ID</dt><dd><%= @bank.sn %></dd>
          <dt>Member</dt><dd><%= @bank.member.email %></dd>
          <dt>Amount</dt><dd><%= number_with_precision(@bank.amount, precision: 2) %></dd>
          <dt>Created at</dt><dd><%= t(@bank.created_at, format: :long) %></dd>
          <dt>State</dt><dd><%= @bank.aasm_state_text %></dd>
          <dt>Bank name</dt><dd><%= @bank.fund_extra %></dd>
          <dt>Bank account</dt><dd><%= @bank.fund_uid %></dd>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-10">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span>Wire transfer</span>
      </div>
      <div class="panel-body">
        <%= form_for [:admin, @bank] do |f| %>
          <dl class="dl-horizontal dl-member">
            <% if @bank.may_submit? || @bank.may_accept? %>
              <dt>Transfer ID</dt>
              <dd><%= f.text_field :txid, class: 'col-xs-24' %></dd>
              <hr class="split">
              <%= f.submit 'Accept', class: 'btn btn-primary pull-right' %>
            <% else %>
              <dt>Transfer ID</dt><dd><%= @bank.txid %></dd>
            <% end %>
          </dl>
        <% end %>
      </div>
    </div>
  </div>
</div>
