<% controllers = ['settings', 'identities', 'id_documents', 'dashboard'] %>
<% dropdown_class = (controllers & controller_path.split('/')).empty? ? '' : 'active' %>
<li class="dropdown account-settings <%= dropdown_class %>">
  <a class="dropdown-toggle" href="#" data-toggle="dropdown">
    <span><%= current_user.email || current_user.nickname %></span>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a href="<%= settings_path %>">
        <i class="fa fa-user"></i>
        <span><%= t('header.my_profile') %></span>
      </a>
    </li>
    <% if is_admin? %>
      <li>
        <a href="<%= admin_dashboard_path %>">
          <i class="fa fa-dashboard"></i>
          <span><%= t('header.admin') %></span>
        </a>
      </li>
    <% end %>
    <li>
      <a href="<%= main_app.signout_path %>">
        <i class="fa fa-sign-out"></i>
        <span><%= t('header.signout') %></span>
      </a>
    </li>
  </ul>
</li>
