<li class="dropdown account-balance">
  <a class="dropdown-toggle" href="#" data-toggle="dropdown">
    <span><%= t('header.account_balance') %></span>
    <span class="total-assets"></span>
  </a>
  <div class="dropdown-menu">
    <% current_user.accounts.each do |account| %>
      <% next if not account.currency %>
      <div class="account-wrap clearfix">
        <div class="account <%= account.currency %>">
          <div class="row">
            <div class="col-xs-24 text-right">
              <i class="fa fa-lock"></i>
              <code>
                <span class="locked"></span>
              </code>
              <i class="fa fa-plus"></i>
              <code>
                <span class="balance"></span>
              </code>
            </div>
          </div>
        </div>
        <hr>
        <div class="account <%= account.currency.code %>">
          <div class="row">
            <div class="col-xs-6">
              <span class="account-name">
                <b><%= account.currency.code.upcase %></b>
                <br>
                <b><%= account.currency.code.upcase %></b>
              </span>
            </div>
            <div class="col-xs-18 text-right">
              <span class="total-title"><%= t('header.total') %>: </span>
              <code>
                <span class="total"></span>
              </code>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</li>
