<div class="container">
  <div class="logo">
    <a href="https://peatio.tech" target="blank">
      <img src="<%= image_path 'logo.svg' %>" width="500px" />
    </a>
  </div>

  <section class="text-center" style="line-height: 1">
    <h2><%= t('slogan.heading') %></h2>
    <h3><%= t('slogan.subheading') %></h3>
    <p><%= t('slogan.text1') %></p>
    <p><%= t('slogan.text2') %></p>
  </section>

  <div class="row" id="getstart">
    <% unless current_user %>
      <div class="col-xs-4 col-xs-offset-8">
        <%= link_to t('header.signin'), signin_path, class: %w(btn btn-primary btn-lg btn-block), html: { role: 'button' } %>
      </div>
      <div class="col-xs-4">
        <a class="btn btn-primary btn-lg btn-block" href="<%= signup_path %>" role="button"><%= t("header.signup") %></a>
      </div>
    <% else %>
      <div class="col-xs-6 col-xs-offset-9 text-center">
        <a class="btn btn-primary btn-lg btn-block" href="<%= market_path(current_market) %>" role="button"><%= t("header.getstart") %></a>
        <a class="btn btn-primary btn-lg btn-block" href="<%= settings_path %>" role="button"><%= t("header.settings") %></a>
      </div>
    <% end %>
  </div>
</div>
