<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <div class="welcome-logo">
      <a href="https://peatio.tech" target="blank">
        <img src="<%= ENV['LOGO_URL'] || image_path('logo.svg') %>">
      </a>
    </div>
  </div>

  <section class="text-center" style="line-height: 1">
    <h2><%= t('slogan.heading') %></h2>
    <% if flash[:notice] || flash[:info] || flash[:alert] %>
      <div class="row justify-content-center">
        <div class="col-12">
          <%= render 'shared/flash' %>
        </div>
      </div>
    <% else %>
      <h3><%= t('slogan.subheading') %></h3>
      <p><%= t('slogan.text1') %></p>
      <p><%= t('slogan.text2') %></p>
    <% end %>
  </section>

  <div class="row justify-content-center" id="getstart">
    <% unless current_user %>
      <div class="col-8 text-center">
        <% # Output button for enabled OAuth2 provider. %>
        <% provider = ENV['OAUTH2_SIGN_IN_PROVIDER'] %>
        <% unless provider.blank? %>
          <a class="btn btn-primary btn-lg btn-block" href="/auth/<%= provider == 'google' ? 'google_oauth2' : provider %>" role="button">
            <small><%= t("header.sign_in_with_#{provider}") %></small>
          </a>
        <% end %>
      </div>
    <% else %>
      <div class="col-8 text-center">
        <a class="btn btn-primary btn-lg btn-block" href="<%= trading_path(current_market) %>" role="button">
          <small><%= t('header.getstart') %></small>
          </a>
        <a class="btn btn-primary btn-lg btn-block" href="<%= settings_path %>" role="button">
          <small><%= t('header.settings') %></small>
          </a>
      </div>
    <% end %>
  </div>
</div>
