<%= table_for withdraws, class: 'table table-bordered table-striped', model: Withdraws::Fiat do |t| %>
  <% t.column :id %>
  <% t.column :created_at %>
  <% t.column 'Currency' do |x| %>
    <% x.currency.code.upcase %>
  <% end %>
  <% t.column 'Member email' do |x| %>
    <%= link_to x.member.email, url_for([:admin, x.member]) %>
  <% end %>
  <% t.column 'Recipient ID' do |x| %>
    <span><%= x.rid %></span>
  <% end %>
  <% t.column :amount do |x| %>
    <code class="text-info">
      <%= x.amount %>
    </code>
  <% end %>
  <% t.column :state_and_action do |x| %>
    <span><%= x.aasm_state.humanize %> / </span>
    <%= link_to t('actions.view'), admin_withdraw_path(currency: x.currency.code, id: x) %>
  <% end %>
<% end %>
