<h1 class="page-title">我的资产</h1>

<div class="panel panel-default">
  <div class="panel-body panel-currencies">

    <div class='row'>
      <div class='col-md-8'>

        <div class="currencies-container">
          {{#each model}}
          <table class="currency-item table">
            <tr>
              <td class="currency-logo"><img src="/assets/icon-{{unbound currency}}.png" alt=""><span class="currency-symbol">{{currency}}</span></td>
              <td class="currency-balance-col">
                <p class="currency-balance"><span class="currency-sign">￥</span>{{balance}}</p>
                <span class="currency-balance-locked"><i class="fa fa-lock"></i> {{locked}}</span>
              </td>
              <td class="currency-actions">
                <p class="selected">{{#link-to 'deposits' this.currency}}充值{{/link-to}}</p>
                <p>{{#link-to 'withdraws' this.currency}}提现{{/link-to}}</p>
              </td>
            </tr>
          </table>
          {{/each}}
        </div>

      </div>

      <div class='col-md-16'>
        <div class="details-container">
          {{outlet}}
        </div>
      </div>

    </div><!-- .row -->

  </div>
</div>
