<h2 class="panel-title">人民币提现</h2>
  <div class="help-block">
    选择提现银行并输入帐号和提取金额，完成提交。您提现的银行账户姓名必须和您实名认证的姓名一致。<br>
    <span class="text-danger"><strong>人民币提现服务时间：9:00 - 18:00</strong> (18:00后的提现申请次日处理)</span>
  </div>

  <form {{ action 'submitWithdraw' id="cny_withdraws" on="submit" }} class="form form-horizontal">

    <div class="form-group">
      <div class="col-sm-6">
        <label class="optional control-label">账户名</label>
      </div>
      <div class="col-sm-12">
        <p class="form-control-static">{{name}}</p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <label class="select required control-label" for="withdraw_fund_source">提现账号</label>
      </div>
      <div class="col-sm-12">
        {{view Ember.Select
           content=fsources
           optionValuePath="content.id"
           optionLabelPath="content.label"
           class="select required form-control"
           id="fund_source"
           name="fund_source"
        }}
      </div>
      <span class="col-sm-6 help-block"><a href="/cny_fund_sources">管理提现账号</a></span>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <label class="optional control-label">可用余额</label>
      </div>
      <div class="col-sm-12">
        <p class="form-control-static"><span class="currency-balance" id="withdraw_balance">{{balance}}</span></p>
      </div>
    </div>

    <div class="form-group required">
      <div class="col-sm-6">
        <label class="decimal required control-label" for="withdraw_sum">提取数量</label>
      </div>
      <div class="col-sm-12">
        <div class="input-group">
          <input class="numeric decimal required form-control" id="withdraw_sum" min="0" name="withdraw[sum]" placeholder="最低 0.001" step="any" type="number" value="0.0">
          <div class="input-group-btn"><button {{action 'withdrawAll'}} class="btn btn-success" id="withdraw_all_btn" type="button">全部提取</button></div>
        </div>
      </div>
      <span class="col-sm-6 help-block"><a target="_balance" href="/documents/price">资费说明</a></span>
    </div>

    {{ view 'two_factor_auth'}}

    <div class="form-group">
      <div class="form-submit col-sm-18 col-sm-offset-6">
        <input  id="withdraw_submit" class="btn btn-primary" data-loading-text="Creating..." name="commit" type="submit" value="提交">
      </div>
    </div>

  </form>

  <br>
  <h2 class="panel-title">历史记录</h2>

  <table class="table withdraw-history">
    <tr>
      <th>编号</th>
      <th>时间</th>
      <th>提现账户</th>
      <th>提现金额</th>
      <th>手续费</th>
      <th>状态/操作</th>
    </tr>
    {{#each withdraw in withdraws}}
    <tr>
      <td>{{withdraw.id}}</td>
      <td>{{format-date withdraw.created_at}}</td>
      <td>{{withdraw.fund_extra}} @ {{withdraw.fund_uid}}</td>
      <td>{{withdraw.amount}}</td>
      <td>{{withdraw.fee}}</td>
      <td>{{state-name withdraw.aasm_state}}
      {{#if withdraw.is_submitting}}
      / <a href="#" {{action cancelWithdraw}} data-id={{unbound withdraw.id}} id="cancel_link">取消</a>
      {{/if}}
      </td>

    </tr>
    {{else}}
    <tr><td colspan="6"><span class="help-block text-center">暂无历史数据</span></td></tr>
    {{/each}}
  </table>
