<%= simple_form_for @withdraw, as: :withdraw, scope: :duff do |f| %>

  <%= f.input :fund_source,
    label: t('.fund_source_label'),
    collection: @fund_sources,
    label_method: :label,
    include_blank: false,
    hint: link_to(t('.manage_fund_source'), url_for([@channel.currency, :fund_sources])) %>

  <%= f.input :account_balance, as: :display %>
  <%= f.input :sum do %>
    <div class="input-group">
      <%= f.input_field :sum, as: :decimal %>
      <div class="input-group-btn">
        <button id="withdraw_all_btn" class="btn btn-success" type="button">
          <%= t('.allin') %>
        </button>
      </div>
    </div>
  <% end %>

  <hr class="split">
  <%= f.button :wrapped, t('actions.submit'), cancel: withdraws_path %>

<% end %>

<% content_for :after do %>
  <%= panel do %>
    <%= table_for(@assets, class: 'table table-condensed table-hover', model: @model) do |t| %>
      <% t.column :id, class: 'col-xs-2' %>
      <% t.column :created_at, class: 'col-xs-4' %>
      <% t.column :fund_uid, class: 'col-xs-10' do |x| %>
        <span><%= "#{x.fund_extra} @ " %></span>
        <code class="text-info">
          <%= x.fund_uid %>
        </code>
      <% end %>
      <% t.column :amount, class: 'col-xs-2' %>
      <% t.column :fee, class: 'col-xs-2' %>
      <% t.column :state_and_action, class: 'col-xs-4' do |x| %>
        <% if x.cancelable? %>
          <span><%= "#{x.aasm_state_text} / " %></span>
          <%= link_to t('actions.cancel'), url_for([x]), method: :delete %>
        <% else %>
          <span><%= x.aasm_state_text %></span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% content_for :scripts do %>
  <script lang="javascript">
    $(function() {
      $('button#withdraw_all_btn').on('click', function() {
        $('input#withdraw_sum').val($('.withdraw_duff_account_balance span').text());
      });
    });
  </script>
<% end %>
