<p><%= t('.desc') %></p>

<p>
  <div class="input-group">
    <div class="input-group-addon" style="width: 160px;">Access Key</div>
    <div class="form-control form-control-static" style="text-align: center;">
      <%= @token.access_key %>
    </div>
    <div class="input-group-addon">
      <a href="javascript:void(0)">
        <i class="fa fa-copy" data-clipboard-text="<%= @token.access_key %>"></i>
      </a>
    </div>
  </div>
  <div class="input-group">
    <div class="input-group-addon" style="width: 160px;">Secret Key</div>
    <div class="form-control form-control-static" style="text-align: center;">
      <%= @token.secret_key %>
    </div>
    <div class="input-group-addon">
      <a href="javascript:void(0)">
        <i class="fa fa-copy" data-clipboard-text="<%= @token.secret_key %>"></i>
      </a>
    </div>
  </div>
</p>

<p><%= link_to t('actions.back'), api_tokens_path, role: 'button', class: 'btn btn-primary btn-lg pull-right' %></p>
