<div class="row ticker-wrapper">
  <div class="col-xs-7">
    <h1 class="market-name text-info"><%= current_market.name %></h1>
  </div>
  <div class="col-xs-17">
    <div class="row ticker">
      <dl class="dl-horizontal dl-ticker col-xs-9">
        <dt>
          <span class="name volume"><%= t('.volume') %></span>
        </dt>
        <dd>
          <span class="value volume"></span>
        </dd>
      </dl>
      <dl class="dl-horizontal dl-ticker col-xs-7">
        <dt>
          <span class="name sell"><%= t('.ask_price') %></span>
        </dt>
        <dd>
          <span class="value sell"></span>
        </dd>
      </dl>
      <dl class="dl-horizontal dl-ticker col-xs-8">
        <dt>
          <span class="name high"><%= t('.high_price') %></span>
        </dt>
        <dd>
          <span class="value high"></span>
        </dd>
      </dl>
    </div>
    <div class="row ticker">
      <dl class="dl-horizontal dl-ticker col-xs-9">
        <dt>
          <span class="name last"><%= t('.latest_price') %></span>
        </dt>
        <dd>
          <span class="value last"></span>
        </dd>
      </dl>
      <dl class="dl-horizontal dl-ticker col-xs-7">
        <dt>
          <span class="name buy"><%= t('.bid_price') %></span>
        </dt>
        <dd>
          <span class="value buy"></span>
        </dd>
      </dl>
      <dl class="dl-horizontal dl-ticker col-xs-8">
        <dt>
          <span class="name low"><%= t('.low_price') %></span>
        </dt>
        <dd>
          <span class="value low"></span>
        </dd>
      </dl>
    </div>
  </div>
</div>
