<% if can? :read, Deposit %>
  <div class="row">
    <div class="col-6">
      <%= link_to raw("All deposits"), admin_deposit_index_path(state: 'all'), class: 'btn btn-primary  mb-3' %>
      <%= link_to raw("Latest deposits"), admin_deposit_index_path(state: 'latest'), class: 'btn btn-primary  mb-3' %>
    </div>
    <div class="col-6">
      <% if can? :create, Deposits::Fiat %>
        <%= link_to raw("<i class='fa fa-plus mr-2'></i> New Deposit"), new_admin_deposit_path(currency: currency.code), class: "btn btn-primary float-right mb-3" %>
      <% end %>
    </div>
  </div>
  <% if @latest_deposits %>
    <h3><%= currency.code.upcase %> Deposits for the last 24 hours</h3>
    <div class="card">
      <%= render partial: 'table', locals: {deposits: @latest_deposits} %>
    </div>
    <div class="float-right">
      <%= paginate @latest_deposits, params: { route: :admin_deposit_index } %>
    </div>
  <% end %>
  <% if @all_deposits %>
    <h3> <%= currency.code.upcase %> All deposits</h3>
    <div class="card">
      <%= render partial: 'table', locals: {deposits: @all_deposits} %>
    </div>
    <div class="float-right">
      <%= paginate @all_deposits, params: { route: :admin_deposit_index } %>
    </div>
  <% end %>
<% end %>
