<div class="row">
  <div class="col-md-4">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Deposit details</h3>
      </div>
      <div class="card-body">
        <%= description_for :member do %>
          <dt>ID</dt> <dd><%= @deposit.sn %></dd>
          <dt>Member</dt> <dd><%= @deposit.member.email %></dd>
          <dt>Amount</dt> <dd><%= number_with_precision(@deposit.amount, precision: 2) %></dd>
          <dt>Created at</dt> <dd><%= t(@deposit.created_at, format: :long) %></dd>
          <dt>State</dt> <dd><%= @deposit.aasm_state.humanize %></dd>
        <% end %>
      </div>
      <% if @deposit.may_accept? %>
        <div class="card-footer clearfix">
          <%= form_for @deposit, url: admin_deposit_url(@deposit.currency.code, @deposit) do |f| %>
            <%= f.submit 'Accept', class: 'btn btn-primary float-right' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
