<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Deposit details</h3>
      </div>
      <div class="card-body">
        <%= description_for :member do %>
          <b>ID</b>: <%= @deposit.sn %><br>
          <b>Member</b>: <%= @deposit.member.email %><br>
          <b>Amount</b>: <%= number_with_precision(@deposit.amount, precision: 2) %><br>
          <b>Created at</b>: <%= t(@deposit.created_at, format: :long) %><br>
          <b>State</b>: <%= @deposit.aasm_state_text %>
        <% end %>
      </div>
      <% if @deposit.may_accept? %>
        <div class="card-footer clearfix">
          <%= form_for @deposit, url: admin_deposit_url(@deposit.currency.code, @deposit) do |f| %>
            <%= f.submit 'Accept', class: 'btn btn-primary pull-right' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
