<%= link_to t('admin.tickets.open_tickets'), admin_tickets_path %>
&nbsp; &nbsp; &nbsp;
<%= link_to t('admin.tickets.closed_tickets'), admin_tickets_path(closed: true) %>

<ul class="list-group">
  <% @tickets.each do |t| %>
    <li class="<%= (t.unread?(current_user) || t.comments.unread_by(current_user).any? ? ['unread', 'list-group-item'] : ['list-group-item']) %>">

      <div class="row row-middle">
        <div class="col-xs-24">
          <div class="row row-middle">
            <div class="col-xs-14">
              <h4><%= link_to t.title_for_display, admin_ticket_path(t) %></h4>
            </div>
            <div class="col-xs-14"></div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <p class="text-ignore"><%= t.content %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <span><%= I18n.t('private.tickets.from') %>: <%= t.author.email %></span>
            </div>
            <div class="col-xs-4">
              <span><%= time_ago_in_words t.created_at %></span>
            </div>
            <div class="col-xs-4">
              <% unless t.closed? %>
                <%= link_to(t('admin.tickets.close'), close_admin_ticket_path(t.id), confirm: t('private.tickets.close_confirm'), method: :patch) %>
              <% end %>
            </div>
            <div class="col-xs-4 text-right">
              <%= t('admin.tickets.comments_count') %>(<%= t.comments.count %>)
            </div>
          </div>
        </div>
      </div>

    </li>
  <% end %>
</ul>
