<%= link_to t('private.tickets.close'),close_admin_ticket_path(@ticket), method: :patch, confirm: t('private.tickets.close_confirm'), class: 'btn btn-default' %>
&nbsp; &nbsp; &nbsp;
<%= link_to t('back'), admin_tickets_path, class: 'btn btn-default' %>
<br>
<br>
<ul class="list-group">
  <li class="list-group-item">
    <div class="row row-middle">
      <div class="col-xs-12">
        <div class="row row-middle">
          <div class="col-xs-12">
            <h4><%= @ticket.title %></h4>
          </div>
          <div class="col-xs-6"></div>
          <div class="row">
            <div class="col-xs-12">
              <p class="text-ignore"><%= @ticket.content %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <span><%= I18n.t('private.tickets.from') %>: <%= @ticket.author.email %></span>
            </div>
            <div class="col-xs-5">
              <i class="fa fa-clock-o text-info"></i>
              <span><%= time_ago_in_words @ticket.created_at %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
  <h3><%= t('admin.tickets.replies') %></h3>
  <% @comments.each do |c| %>
    <br>
    <li class="list-group-item">
      <div class="row row-middle">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <p class="text-ignore"><%= c.content %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <span><%= I18n.t('private.tickets.from') %>: <%= c.author.email %></span>
            </div>
            <div class="col-xs-5">
              <i class="fa fa-clock-o text-info"></i>
              <span><%= time_ago_in_words c.created_at %></span>
            </div>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<%= simple_form_for @comment, url: admin_ticket_comments_path(@ticket.id) do |f| %>
  <%= f.input :content, label: false,  input_html: { style: 'width:160%;', rows: 8 } %>
  <hr class="split">
  <%= f.button :wrapped %>
<% end %>
