<%= form_for @currency, url: @currency.new_record? ? admin_currencies_url : admin_currency_url(@currency.id) do |f| %>
  <div class="row row-eq-height">
    <div class="col-lg-6 col-md-12 mb-4">
      <div class="card h-100">
        <div class="card-header">
          <span>Currency info</span>
        </div>
        <dd class="card-body">
          <dl class="dl-horizontal dl-member">
            <dt>Code</dt>
            <% if @currency.new_record? %>
              <dd><%= f.text_field :code, class: 'form-control' %></dd>
            <% else %>
              <dd><%= @currency.code.upcase %></dd>
            <% end %>

            <dt>Symbol</dt>
            <dd><%= f.text_field :symbol, maxlength: 1, class: 'form-control' %></dd>

            <dt>Type</dt>
            <% if @currency.new_record? %>
              <dd><%= f.select :type, Currency.types, {}, {class: 'form-control'} %></dd>
            <% else %>
              <dd><%= @currency.type.titleize %></dd>
            <% end %>

            <dt>Quick withdraw limit</dt>
            <dd><%= f.text_field :quick_withdraw_limit, class: 'form-control' %></dd>

            <dt>Withdraw fee</dt>
            <dd><%= f.text_field :withdraw_fee, class: 'form-control' %></dd>

            <dt>Deposit fee (fiat only)</dt>
            <dd><%= f.text_field :deposit_fee, class: 'form-control' %></dd>

            <% if @currency.coin? || @currency.new_record? %>
              <% if @currency.new_record? || @currency.erc20_contract_address? %>
                <dt>ERC20 contract address</dt>
                <% if @currency.new_record? %>
                  <dd><%= f.text_field :erc20_contract_address, class: 'form-control' %></dd>
                <% else %>
                  <dd><%= @currency.erc20_contract_address %></dd>
                <% end %>
              <% end %>
            <% end %>

            <dt>Enabled?</dt>
            <dd><%= f.check_box :enabled %></dd>

            <dt>Base factor</dt>
            <% if @currency.new_record? %>
              <dd><%= f.number_field :base_factor, class: 'form-control' %></dd>
            <% else %>
              <dd><%= @currency.base_factor %></dd>
            <% end %>

            <dt>Icon URL</dt>
            <dd><%= f.text_field :icon_url, class: 'form-control' %></dd>

            <dt>Precision</dt>
            <% if @currency.new_record? %>
              <dd><%= f.number_field :precision, class: 'form-control' %></dd>
            <% else %>
              <dd><%= @currency.precision %></dd>
            <% end %>

            <dt>Blockchain Key</dt>
            <dd><%= f.select :blockchain_key, Blockchain.all.map(&:key), {prompt: "Select Blockchain Key"}, {class: 'form-control'} %></dd>
          </dl>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
