<%= form_for @currency, url: @currency.new_record? ? admin_currencies_url : admin_currency_url(@currency.id) do |f| %>
  <div class="row row-eq-height">
    <div class="col-lg-6 col-md-12 mb-4">
      <div class="card h-100">
        <div class="card-header">
          <span>Currency info</span>
        </div>
        <dd class="card-body">
          <dl class="dl-horizontal dl-member">
            <dt>Code</dt>
            <% if @currency.new_record? %>
              <dd><%= f.text_field :code, class: 'form-control' %></dd>
            <% else %>
              <dd><%= @currency.code.upcase %></dd>
            <% end %>

            <dt>Symbol</dt>
            <dd><%= f.text_field :symbol, maxlength: 1, class: 'form-control' %></dd>

            <dt>Type</dt>
            <% if @currency.new_record? %>
              <dd><%= f.select :type, Currency.types %></dd>
            <% else %>
              <dd><%= @currency.type.titleize %></dd>
            <% end %>

            <dt>Quick withdraw limit</dt>
            <dd><%= f.text_field :quick_withdraw_limit, class: 'form-control' %></dd>

            <dt>Withdraw fee</dt>
            <dd><%= f.text_field :withdraw_fee, class: 'form-control' %></dd>

            <dt>Deposit fee (fiat only)</dt>
            <dd><%= f.text_field :deposit_fee, class: 'form-control' %></dd>

            <% if @currency.coin? || @currency.new_record? %>
              <dt>Case sensitive?</dt>
              <% if @currency.new_record? %>
                <dd><%= f.check_box :case_sensitive %></dd>
              <% else %>
                <dd><%= @currency.case_sensitive?.to_s.titleize %></dd>
              <% end %>

              <dt>Number of required confirmations for deposit</dt>
              <dd><%= f.number_field :deposit_confirmations, class: 'form-control' %></dd>

              <% if @currency.new_record? || @currency.erc20_contract_address? %>
                <dt>ERC20 contract address</dt>
                <% if @currency.new_record? %>
                  <dd><%= f.text_field :erc20_contract_address, class: 'form-control' %></dd>
                <% else %>
                  <dd><%= @currency.erc20_contract_address %></dd>
                <% end %>
              <% end %>

              <dt>Supports HD protocol?</dt>
              <% if @currency.new_record? %>
                <dd><%= f.check_box :supports_hd_protocol %></dd>
              <% else %>
                <dd><%= @currency.supports_hd_protocol?.to_s.titleize %></dd>
              <% end %>
            <% end %>

            <dt>Enabled?</dt>
            <dd><%= f.check_box :enabled %></dd>

            <dt>Allow generating multiple deposit addresses?</dt>
            <dd><%= f.check_box :allow_multiple_deposit_addresses %></dd>

            <dt>Base factor</dt>
            <% if @currency.new_record? %>
              <dd><%= f.number_field :base_factor, class: 'form-control' %></dd>
            <% else %>
              <dd><%= @currency.base_factor %></dd>
            <% end %>

            <dt>Precision</dt>
            <% if @currency.new_record? %>
              <dd><%= f.number_field :precision, class: 'form-control' %></dd>
            <% else %>
              <dd><%= @currency.precision %></dd>
            <% end %>

            <% unless @currency.fiat? %>
              <dt>Wallet URL template (use #{address} as placeholder)</dt>
              <dd><%= f.text_field :wallet_url_template, class: 'form-control' %></dd>
              <dt>Transaction URL template (use #{txid} as placeholder)</dt>
              <dd><%= f.text_field :transaction_url_template, class: 'form-control' %></dd>
            <% end %>
          </dl>
      </div>
    </div>

    <% if @currency.coin? || @currency.new_record? %>
      <div class="col-lg-6 col-md-12 d-flex flex-wrap align-content-stretch mb-4">
        <div>
          <div class="card">
            <div class="card-header">
              <span>Currency API client settings</span>
            </div>
            <div class="card-body">
              <dl class="dl-horizontal dl-member">
                <dt>API client</dt>
                <% if @currency.new_record? %>
                  <dd><%= f.text_field :api_client, class: 'form-control' %></dd>
                <% else %>
                  <dd><%= @currency.api_client %></dd>
                <% end %>
              </dl>
            </div>
          </div>
        </div>

        <div>
          <div class="card">
            <div class="card-header">
              <span>Currency wallet settings</span>
            </div>
            <div class="card-body">
              <dl class="dl-horizontal dl-member">
                <dt>JSON RPC endpoint</dt>
                <% if @currency.new_record? %>
                  <dd><%= f.text_field :json_rpc_endpoint, class: 'form-control' %></dd>
                <% else %>
                  <dd>SECRET</dd>
                <% end %>

                <dt>REST API endpoint</dt>
                <% if @currency.new_record? %>
                  <dd><%= f.text_field :rest_api_endpoint, class: 'form-control' %></dd>
                <% else %>
                  <dd>SECRET</dd>
                <% end %>
              </dl>
            </div>
          </div>
        </div>

        <div>
          <div class="card h-100">
            <div class="card-header">
              <span>BitGo settings</span>
            </div>
            <div class="card-body">
              <dl class="dl-horizontal dl-member">
                <dt>BitGo test net enabled?</dt>
                <% if @currency.new_record? %>
                  <dd><%= f.check_box :bitgo_test_net %></dd>
                <% else %>
                  <dd><%= @currency.bitgo_test_net?.to_s.titleize %></dd>
                <% end %>

                <dt>BitGo wallet ID</dt>
                <% if @currency.new_record? %>
                  <dd><%= f.text_field :bitgo_wallet_id, class: 'form-control' %></dd>
                <% else %>
                  <dd>SECRET</dd>
                <% end %>

                <dt>BitGo wallet address</dt>
                <% if @currency.new_record? %>
                  <dd><%= f.text_field :bitgo_wallet_address, class: 'form-control' %></dd>
                <% else %>
                  <dd>SECRET</dd>
                <% end %>

                <dt>BitGo wallet passphrase</dt>
                <% if @currency.new_record? %>
                  <dd><%= f.text_field :bitgo_wallet_passphrase, class: 'form-control' %></dd>
                <% else %>
                  <dd>SECRET</dd>
                <% end %>

                <dt>BitGo REST API root URL</dt>
                <% if @currency.new_record? %>
                  <dd><%= f.text_field :bitgo_rest_api_root, class: 'form-control' %></dd>
                <% else %>
                  <dd>SECRET</dd>
                <% end %>

                <dt>BitGo REST API access token</dt>
                <% if @currency.new_record? %>
                  <dd><%= f.text_field :bitgo_rest_api_access_token, class: 'form-control' %></dd>
                <% else %>
                  <dd>SECRET</dd>
                <% end %>
              </dl>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-12">
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
