<div class="row">
  <div class="col-xs-6">
    <%= detail_section_tag t('.deposit') %>
    <%= simple_form_for @deposit, url: admin_currency_deposit_path do |f| %>
      <%= f.input :txid, readonly: true %>
      <%= f.input :sn, readonly: @member ? true : false %>
      <%= f.input :fund_uid, readonly: true %>
      <%= f.input :member_id, as: :hidden %>
      <%= f.input :fund_extra, readonly: true %>
      <%= f.input :amount, readonly: true %>
      <%= f.button :submit %>
      <% if @member %>
        <%= link_to t('actions.new'), admin_member_path(@member), target: '_blank', class: 'btn btn-inverse' %>
      <% end %>
    <% end %>
  </div>
  <div class="col-xs-6">
    <% @member && @member.accounts.each do |a| %>
      <%= detail_section_tag "#{a.currency.code.upcase} #{t('.accounts_title')}" %>
      <%= detail_tag a.currency.code.upcase %>
      <%= detail_tag a, field: :balance %>
      <%= detail_tag a, field: :locked %>
    <% end %>
  </div>
</div>
