<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div id="guide" class="col-xs-8">
        <h3><%= t('.title') %></h3>
        <p class="text-ignore"><%= t('.intro') %></p>
      </div>
      <div id="content" class="col-xs-16">
        <div class="jumbotron">
          <div class="row">
            <div class="col-xs-offset-4 col-xs-16">
              <span class="pull-left">
                <%= t('.total') %>
              </span>
              <span class="pull-right">
                <%= t('currency.icon.xrp').html_safe %>
                <%= @xrp_proof.asset_sum %>
              </span>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <td>
                    <%= t('.address') %>
                  </td>
                  <td>
                    <%= t('.balance') %>
                  </td>
                </tr>
              </thead>
              <tbody>
                <% @xrp_proof.addresses.each do |entry| %>
                  <tr>
                    <td>
                      <%= link_to entry['address'], @xrp_proof.address_url(entry['address']) %>
                    </td>
                    <td>
                      <%= entry['balance'] %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
