<% unless @one_banks.empty? %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <span>
        <%= t('.one') %>
      </span>
    </div>
    <%= render partial: 'table', locals: {banks: @one_banks} %>
  </div>
<% end %>

<% unless @all_banks.empty? %>
  <div class="panel panel-success">
    <div class="panel-heading">
      <span>
        <%= t('.all') %>
      </span>
    </div>
    <%= render partial: 'table', locals: {banks: @all_banks} %>
  </div>
<% end %>

<% if @all_banks.empty? and @one_banks.empty? %>
  <h3 class="text-info text-center">
    <%= t('.empty') %>
  </h3>
<% end %>
