<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span>
          <%= t('.withdraw', sn: @bank.sn) %>
        </span>
      </div>
      <div class="panel-body">
        <%= description_for :withdraw do %>
          <%= item_for @bank, :id %>
          <%= item_for @bank, :created_at %>
          <%= item_for @bank, :aasm_state_text %>
          <hr class="split">
          <%= item_for @bank.member, :email do %>
            <span class="fa fa-copy" data-clipboard-text="<%= @bank.member.email %>">
              <%= @bank.member.email %>
            </span>
          <% end %>
          <%= item_for @bank.destination, :label do %>
            <span class="fa fa-copy" data-clipboard-text="<%= @bank.destination.label %>">
              <%= @bank.destination.label %>
            </span>
          <% end %>
          <%= item_for @bank, :amount do %>
            <span class="fa fa-copy" data-clipboard-text="<%= @bank.amount %>">
              <%= @bank.amount %>
            </span>
          <% end %>
          <hr class="split">
          <% @bank.destination.details.each do |name, value| %>
            <%= item_for @bank, name.titleize do %>
              <span class="fa fa-copy" data-clipboard-text="<%= value %>">
                <%= value %>
              </span>
            <% end %>
          <% end %>
          <hr class="split">
          <ul class="list-inline pull-right">
            <% if @bank.may_accept? %>
              <li>
                <%= link_to 'Accept', url_for([:admin, @bank]), class: 'btn btn-primary', method: 'PATCH' %>
              </li>
            <% end %>
            <% if @bank.may_reject? %>
              <li>
                <%= link_to t('.reject'), url_for([:admin, @bank]), class: 'btn btn-danger', method: 'DELETE', confirm: t('.reject_confirm') %>
              </li>
            <% end %>
            <% if @bank.may_process? %>
              <li>
                <%= link_to t('.process'), url_for([:admin, @bank]), class: 'btn btn-primary', method: 'PATCH' %>
              </li>
            <% end %>
            <% if @bank.may_succeed? %>
              <li>
                <%= link_to t('.succeed'), url_for([:admin, @bank]), class: 'btn btn-success', method: 'PATCH', confirm: t('.succeed_confirm') %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <%= render partial: 'shared/admin/member', locals: {member: @bank.member} %>
    <%= render partial: 'shared/admin/account', locals: {account: @bank.account} %>
  </div>
</div>
