<div class='modal-header'>
  <button class='close' type='button' data-dismiss='modal' aria-hidden='true'>×</button>
  <h3 id='modal-label'>#{{base.id}} - {{base.sn}}</h3>
</div>
<div class='modal-body'>
  <h3>{{base.email}}</h3>
  <hr />

  <table class="table">
    <thead>
      <tr>
        <th>Currency</th>
        <th class='text-right'>Locked</th>
        <th class='text-right'>Balance</th>
        <th class='text-right'>Sum</th>
      </tr>
    </thead>
    <tbody>
      {{#each accounts}}
      <tr>
        <td>{{currency}}</td>
        <td class='text-right'><i class='fa fa-lock'><i> <span>{{locked}}</span></td>
        <td class='text-right'>{{balance}}</td>
        <td class='text-right'>{{sum}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
