<tr>
  <td class="time">{{{format_time date}}}</td>
  <td class="price {{format_trend trend}}">{{{format_mask_fixed_price price }}}</td>
  <td class="amount {{format_trend trend}}">{{{format_mask_fixed_amount amount }}}</td>
</tr>
