<tr class="{{format_trade kind}}">
  <td class='at'>{{{format_trade kind}}}</td>
  <td class='at'>{{{format_fulltime at}}}</td>
  <td class='price'>{{format_fix_bid price}}</td>
  <td class='volume'>{{format_volume origin_volume volume}}</td>
</tr>
