<% trade_state = (origin_volume == volume) ? 'new' : 'partial' %>

<tr data-id="<%= id %>" data-kind="<%= kind %>" class="order <%= kind %>">
  <td class="time text-left col-xs-6">
    <span><%= formatter.fulltime(at) %></span>
  </td>
  <td class="kind text-left col-xs-6">
    <span class="label label-<%= kind %>"><%= formatter.short_trade(kind) %></span><span class="label label-<%= trade_state %>"><%= gon.i18n.trade_state[trade_state] %></span>
  </td>
  <td class="price text-right col-xs-4 <%= formatter.trend(kind) %>">
    <span><%= formatter.mask_fixed_price(price) %></span>
  </td>
  <td class="volume text-right col-xs-4">
    <span><%= formatter.mask_fixed_volume(volume) %></span>
  </td>
  <td class="amount text-right col-xs-5">
    <span><%= formatter.amount(volume, price) %></span>
  </td>
</tr>
