<tr data-id="{{id}}" class="order {{format_trade kind}}">
  <td class='at'>{{{format_fulltime at}}}</td>
  <td class='price'>{{format_fix_bid price}}</td>
  <td class='volume'>{{format_volume origin_volume volume}}</td>
  <td class='operation'>
    <a class='wait text-info' data-method='delete' data-remote='true' rel='nofollow' href='/markets/{{market}}/orders/{{id}}'>Cancel</a>
  </td>
</tr>
