<tr data-id="{{id}}" data-kind="{{kind}}" class="order {{kind}}">
  <td class='time text-left col-xs-6'>{{{format_fulltime at}}}</td>
  <td class='kind text-left col-xs-2 {{{format_trend kind}}}'>{{{format_short_trade kind}}}</td>
  <td class='price text-right col-xs-4'>{{format_fix_bid price}}</td>
  <td class='volume text-right col-xs-4'>{{format_volume origin_volume volume}}</td>
  <td class='amount text-right col-xs-5'>{{{format_amount volume price}}}</td>
  <td class='col-xs-4 text-right'>
    <!--
    <a class='wait text-info' data-method='delete' data-remote='true' data-confirm='are you sure?' rel='nofollow' href='/markets/{{market}}/orders/{{id}}'>[{{format_cancel}}]</a>
    -->
    <a class='wait text-info' data-method='delete' data-remote='true' data-confirm='are you sure?' rel='nofollow' href='/markets/{{market}}/orders/{{id}}'><i class='fa fa-undo'></i></a>
  </td>
</tr>
