<tr data-id="{{id}}" class="order {{format_trade kind}}">
  <td class='kind'>{{{format_trade kind}}}</td>
  <td class='at'>{{{format_fulltime at}}}</td>
  <td class='price'>{{format_fix_bid price}}</td>
  <td class='volume'>{{format_fix_ask volume}}</td>
</tr>
