<tr data-id="{{id}}" data-kind="{{kind}}" class="order {{kind}}">
  <td class='kind col-md-3'>{{{format_trade kind}}}</td>
  <td class='at col-md-9'>{{{format_fulltime at}}}</td>
  <td class='price col-md-5'>{{format_fix_bid price}}</td>
  <td class='volume col-md-5'>{{format_fix_ask volume}}</td>
  <td class='operation col-md-2'></td>
</tr>
