<tr data-id="{{id}}" data-kind="{{kind}}" class="order {{kind}}">
  <td class='kind col-xs-2'>{{{format_short_trade kind}}}</td>
  <td class='at col-xs-6'>{{{format_fulltime at}}}</td>
  <td class='price col-xs-6'>{{format_fix_bid price}}</td>
  <td class='volume col-xs-6'>{{format_fix_ask volume}}</td>
</tr>
