<tr data-id="{{id}}" data-kind="{{kind}}" class="order {{kind}}">
  <td class='kind col-xs-2'>{{{format_short_trade kind}}}</td>
  <td class='at col-xs-6'>{{{format_fulltime at}}}</td>
  <td class='price col-xs-5'>{{format_fix_bid price}}</td>
  <td class='volume col-xs-5'>{{format_volume origin_volume volume}}</td>
  <td class='operation col-xs-3'>
    <a class='wait text-info' data-method='delete' data-remote='true' data-confirm='are you sure?' rel='nofollow' href='/markets/{{market}}/orders/{{id}}'>[{{format_cancel}}]</a>
  </td>
</tr>
