<td class='bid col-xs-8 text-center {{format_trend buy_trend}}'>{{buy}} {{{trend_icon buy_trend}}}</td>
<td class='last col-xs-8 text-center {{format_trend last_trend}}'>{{last}} {{{trend_icon last_trend}}}</td>
<td class='ask col-xs-8 text-center {{format_trend sell_trend}}'>{{sell}} {{{trend_icon sell_trend}}}</td>
