<tr data-id={{id}} style="display: none;">
  <td class='id'>{{id}}</td>
  <td class='at'>{{{format_fulltime at}}}</td>
  <td class='kind'>{{format_trade kind}}</td>
  <td class='price'>{{format_fix_bid price}}</td>
  <td class='volume'>{{format_volume origin_volume volume}}</td>
  <td class='state'>{{state_text}}</td>
  <td class='operation'>
    <a class='wait text-info' data-method="delete" data-remote="true" rel="nofollow" style='display: none;' data-text='cancel' href='/markets/{{market}}/orders/{{id}}'></a>
    <!--
    <a class='done' style='display: none;' data-text='view' rel="nofollow" href='#view'></a>
    <a class='cancel' style='display: none;' data-text='view' rel="nofollow" href='#view'></a>
    -->
  </td>
</tr>
