<tr>
  <td class="type">{{type}}</td>
  <td class="timestamp">{{format_long_time timestamp}}</td>
  <td class="fiat_currency">{{fiat_currency}}</td>
  <td class="fiat_amount">{{fiat_amount}}</td>
  <td class="coin_currency">{{coin_currency}}</td>
  <td class="coin_amount">{{coin_amount}}</td>
  <td class="coin_price">{{coin_price}}</td>
  <td class="fee">{{fee}}</td>
</tr>
