<li id="account_summary" class="dropdown">
  <a class="dropdown-toggle" href="#" data-toggle="dropdown">
    <span id="total_assets" data-title="<%= t('.title') %>"></span>
  </a>
  <div class="dropdown-menu text-right">
    <p class="text-right">
      <ul class="list-inline text-right"></ul>
    </p>
    <table class="table">
      <tbody>
        <% current_user.accounts.each do |account|
          next unless account.currency.try(:visible) %>
          <tr class="<%= account.currency.code %> <%= @market.scope?(account) ? '' : 'hide' %>">
            <td class="account-symbol col-xs-6 text-center">
              <% image = account.currency.coin? ?
                         "/icon-#{account.currency.code}.png" :
                         "yarn_components/currency-flags/src/flags/#{account.currency.code}.png" %>
              <div class="currency-logo" style="background-image: url('<%= image_url(image) %>');"></div>
              <div><%= account.currency.code.upcase %></div>
            </td>
            <td class="account-balance col-xs-18 text-right">
              <span class="amount" data-title="<%= t('.amount') %>"><%= account.amount %></span>
              <br>
              <span class="locked" data-title="<%= t('.locked') %>"><%= account.locked %></span>
            </td>
          </tr>
        <% end %>
        <tr>
          <td class="text-center" colspan=2>
            <a class="view_all_accounts" data-hide-text="<%= t('.hide_all_accounts') %>" data-show-text="<%= t('.view_all_accounts') %>" href="#">
              <%= t('.view_all_accounts') %>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</li>
