<div id="ask_entry" class="panel panel-default entry-left">
  <div class="panel-body">
    <%= form_for [market, order], remote: true do |f| %>
      <%= f.hidden_field :ord_type %>
      <div class="input-group price">
        <label class="input-group-addon"><%= t('.price') %></label>
        <span class="label label-danger hint-price-disadvantage"></span>
        <%= f.text_field :price, class: 'form-control' %>
        <span class="input-group-addon"><%= t(market.bid['currency'], scope: 'market.currency') %></span>
      </div>
      <div class="input-group amount">
        <label class="input-group-addon"><%= t('.amount') %></label>
        <span class="label label-info hint-positions"></span>
        <%= f.text_field :origin_volume, class: 'form-control' %>
        <span class="input-group-addon"><%= t(market.ask['currency'], scope: 'market.currency') %></span>
      </div>
      <div class="input-group total">
        <label class="input-group-addon"><%= t('.total') %></label>
        <%= f.text_field :total, class: 'form-control' %>
        <span class="input-group-addon"><%= t(market.bid['currency'], scope: 'market.currency') %></span>
      </div>
      <%= render partial: 'balance', locals: {currency: t(market.ask['currency'], scope: 'market.currency')} %>

      <button class="btn btn-danger btn-block text-down" type="submit">
        <%= t('.action', currency: t(market.ask['currency'], scope: 'market.currency')) %>
      </button>
    <% end %>
  </div>
  <%= render partial: 'mask' %>

</div>
