<div id="my_orders_wrapper" class="has-left-dropdown">
  <div class="dropdown-wrapper">
    <ul class="dropdown-menu">
      <li>
        <%= link_to t('.clear_bids_html'), clear_market_order_bids_path(market_id: current_market.id), remote: true, method: :post, data: {confirm: t('.confirm_clear_bids')} %>
      </li>
      <li>
        <%= link_to t('.clear_asks_html'), clear_market_order_asks_path(market_id: current_market.id), remote: true, method: :post, data: {confirm: t('.confirm_clear_asks')} %>
      </li>
      <li>
        <%= link_to t('.clear_all_html'),  clear_market_orders_path(market_id: current_market.id), remote: true, method: :post, data: {confirm: t('.confirm_clear_all')} %>
      </li>
    </ul>
  </div>
  <div id="my_orders" class="panel panel-default">
    <div class="panel-body panel-body-content">
      <div class="empty-row">
        <%= t('.no_open_orders') %>
      </div>
      <table class="table table-hover">
        <tbody></tbody>
      </table>
    </div>
    <%= render partial: 'mask' %>
  </div>
</div>
