<li id="settings" class="dropdown">
  <a class="dropdown-toggle" href="#" data-toggle="dropdown">
    <i class="fa fa-user"></i><span><%= current_user.email %></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a>
        <input type="checkbox" name="sound-checkbox" data-size="mini" data-on-color="success">
      </a>
    </li>
    <li>
      <a>
        <input type="checkbox" name="notification-checkbox" data-size="mini" data-on-color="success">
      </a>
    </li>
    <li>
      <a href="<%= funds_path %>" target="_blank">
        <i class="fa fa-key"></i>
        <span><%= t('.funds') %></span>
      </a>
    </li>
    <li>
      <a href="<%= settings_path %>" target="_blank">
        <i class="fa fa-wrench"></i>
        <span><%= t('.settings') %></span>
      </a>
    </li>
    <li>
      <a href="<%= order_history_path %>" target="_blank">
        <i class="fa fa-history"></i>
        <span><%= t('.history') %></span>
      </a>
    </li>
    <li>
      <a href="<%= signout_path %>">
        <i class="fa fa-sign-out"></i>
        <span><%= t('.signout') %></span>
      </a>
    </li>
  </ul>
</li>
