<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/favicon.ico" rel="shortcut icon" />
    <%= render 'shared/meta' %>
    <%= render 'shared/sentry' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'market', media: 'all' %>
    <%= custom_stylesheet_link_tag_for :markets %>

    <%= include_gon %>
    <%= render 'shared/html5' %>

    <%= javascript_include_tag 'market' %>
    <%= javascript_include_tag "locales/#{I18n.locale}" %>
  </head>

  <body id="<%= body_id %>" data-lang="<%= locale_name %>">
    <audio preload="preload" id="success-fx">
      <source src="/sounds/success.mp3" />
    </audio>

    <audio preload="preload" id="warning-fx">
      <source src="/sounds/warning.mp3" />
    </audio>

    <%= render partial: 'private/markets/header' %>
    <div id="wrap">
      <div class="content">
        <%= render partial: 'market_trades' %>
        <%= render partial: 'market_list' %>

        <%= render partial: 'candlestick' %>
        <%= render partial: 'range_switch' %>
        <%= render partial: 'indicator_switch' %>

        <% if ENV['CHAT_FEATURE'] %>
          <div id="chat_tabs_wrapper" class="float">
            <ul class="nav nav-tabs tabs-right sideways">
              <li>
                <a href="#chat_content" data-toggle="tab">
                  <%= t('.chat') %>
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="chat_content" class="tab-pane">
                <%= render partial: 'chat' %>
              </div>
            </div>
          </div>
        <% end %>

        <%= render partial: 'order_book' %>
        <%= render partial: 'depths' %>
        <%= render partial: 'ticker' %>
        <%= render partial: 'ask_entry', locals: {market: @market, order: @order_ask } %>
        <%= render partial: 'bid_entry', locals: {market: @market, order: @order_bid } %>
        <%= render partial: 'my_orders' %>
      </div>
    </div>
  </body>
</html>
