<%= table_for(withdraws, class: 'table table-condensed table-hover', model: withdraw_model) do |t| %>
  <% t.column :id, class: 'col-xs-2' %>
  <% t.column :created_at, class: 'col-xs-3' %>
  <% t.column 'Currency', class: 'col-xs-2' do |x| %>
    <%= x.currency.code.upcase %>
  <% end %>
  <% t.column 'Member email', class: 'col-xs-5' do |x| %>
    <%= link_to x.member.email, url_for([:admin, x.member]), target: '_blank' %>
  <% end %>
  <% t.column :fund_source, class: 'col-xs-4' do |x| %>
    <span><%= x.fund_extra %> # <%= x.fund_uid.truncate(22) %></span>
  <% end %>
  <% t.column :amount, class: 'col-xs-3' do |x| %>
    <code class="text-info"><%= x.amount %></code>
  <% end %>
  <% t.column :state_and_action, class: 'col-xs-3' do |x| %>
    <span><%= x.aasm_state_text %> / </span>
    <%= link_to t('actions.view'), url_for([:admin, x]), target: '_blank' %>
  <% end %>
<% end %>
