<div class="row">
  <% member.accounts.each do |account| %>
    <div class="col-6">
      <div class="row account-<%= account.currency %>">
        <div class="col-4">
          <h5 class="amount" data-title="<%= account.currency.code.upcase %>"><%= account.amount %></h5>
        </div>
        <div class="col-3">
          <h5 class="locked text-right" data-title="<%= t('.locked') %>"><%= account.locked %></h5>
        </div>
        <div class="col-3">
          <h5 class="available text-right" data-title="<%= t('.available') %>"><%= account.balance %></h5>
        </div>
      </div>
    </div>
  <% end %>
</div>
