<div class="row">
  <div class="col-6">
    <h3>Markets</h3>
  </div>
  <div class="col-6">
    <% if can? :manage, Market %>
      <%= link_to raw("<i class='fa fa-plus mr-2'></i> New market"), new_admin_market_path, class: "btn btn-primary float-right mb-3" %>
    <% end %>
  </div>
</div>

<div class="card">
  <% if can? :read, Market %>
    <%= table_for @markets, class: 'table table-bordered table-striped' do |t| %>
      <% t.column :name, 'Name', class: 'col-xs-2' %>

      <% t.column :maker_fee, 'Maker fee', class: 'col-xs-2' %>

      <% t.column :taker_fee, 'Taker fee', class: 'col-xs-2' %>

      <% t.column 'Min amount', class: 'col-xs-2' do |x| %>
        <%= x.min_amount %>
      <% end %>

      <% t.column 'Created at', class: 'col-xs-3' do |x| %>
        <%= l(x.created_at, format: :long) %>
      <% end %>

      <% t.column 'State', class: 'col-xs-2' do |x| %>
        <%= x.state.capitalize %>
      <% end %>

      <% t.column 'Actions', class: 'col-xs-1' do |x| %>
        <%= link_to 'View', admin_market_path(x) %>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= paginate @markets %>
