<div class="col-xs-10">
  <div class="panel panel-info">
    <div class="panel-heading">
      <span>Market info</span>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal dl-member">
        <%= form_for @market,
                     as:  :trading_pair,
                     url: @market.new_record? ? admin_markets_url : admin_market_url(@market.id) do |f| %>
          <dt>Bid unit</dt>
          <% if @market.new_record? %>
            <dd><%= f.select :bid_unit, Currency.codes.map { |code| [code.upcase, code] } %></dd>
          <% else %>
            <dd><%= @market.bid_unit.upcase %></dd>
          <% end %>
          <dt>Bid fee</dt>
          <dd><%= f.text_field :bid_fee, class: 'col-xs-24' %></dd>
          <dt>Bid precision</dt>
          <dd><%= f.number_field :bid_precision, class: 'col-xs-24' %></dd>
          <hr class="split">
          <dt>Ask unit</dt>
          <% if @market.new_record? %>
            <dd><%= f.select :ask_unit, Currency.codes.map { |code| [code.upcase, code] } %></dd>
          <% else %>
            <dd><%= @market.ask_unit.upcase %></dd>
          <% end %>
          <dt>Ask fee</dt>
          <dd><%= f.text_field :ask_fee, class: 'col-xs-24' %></dd>
          <dt>Ask precision</dt>
          <dd><%= f.number_field :ask_precision, class: 'col-xs-24' %></dd>
          <hr class="split">
          <dt>Visible</dt>
          <dd><%= f.check_box :visible, class: 'col-xs-24' %></dd>
          <dt>Position</dt>
          <dd><%= f.number_field :position, class: 'col-xs-24' %></dd>
          <hr class="split">
          <%= f.submit 'Submit', class: 'btn btn-primary pull-right' %>
        <% end %>
      </dl>
    </div>
  </div>
</div>
