<h3>Market info</h3>
<% if (can? :read, Market) || (can? :write, Market) %>
  <%= form_for @market,
      as:  :trading_pair,
      url: @market.new_record? ? admin_markets_url : admin_market_url(@market.id) do |f| %>

    <div class="card-deck">

      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <label>Quote Currency</label>
            <% if @market.new_record? %>
              <%= f.select :quote_currency, Currency.codes.map { |code| [code.upcase, code] }, {}, { class: "form-control mb-3" } %>
            <% else %>
              <div class="mb-3"><%= @market.quote_unit.upcase %></div>
            <% end %>

            <label>Maximum Price</label>
            <%= f.number_field :max_price, step: :any, class: 'form-control mb-3' %>

            <label>Minimum Amount</label>
            <%= f.number_field :min_amount, step: :any, class: 'form-control mb-3' %>

            <label>Price Precision</label>
            <% if @market.new_record? %>
              <%= f.number_field :price_precision, class: 'form-control mb-3' %>
            <% else %>
              <div><%= @market.price_precision %></div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <label>Base Currency</label>
            <% if @market.new_record? %>
              <%= f.select :base_currency, Currency.codes.map { |code| [code.upcase, code] }, {}, { class: "form-control mb-3" } %>
            <% else %>
              <div class="mb-3"><%= @market.base_unit.upcase %></div>
            <% end %>

            <label>Minimum Price</label>
            <%= f.number_field :min_price, step: :any, class: 'form-control mb-3' %>

            <label>Amount Precision</label>
            <% if @market.new_record? %>
              <%= f.number_field :amount_precision, class: 'form-control' %>
            <% else %>
              <div><%= @market.amount_precision %></div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <label>State</label>
            <%= f.select :state, Market::STATES, {}, { class: "form-control mb-3" } %>
          </div>
          <div class="form-group">
            <label>Position</label>
            <%= f.number_field :position, class: 'form-control' %>
          </div>
        </div>
      </div>

    </div>
    <% if (can? :write, Market) %>
      <%= f.submit 'Submit', class: 'btn btn-primary btn-lg mt-3' %>
    <% end %>
  <% end %>
<% end %>
