<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'shared/meta' %>
    <%= render 'shared/sentry' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
  </head>

  <body id="<%= body_id %>">
    <nav id="top-menu" class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <ul class="nav navbar-nav navbar-left">
          <li class="<%= check_active('dashboard') %>">
            <%= link_to t('header.dashboard'), main_app.admin_dashboard_path %>
          </li>

          <% if can? :manage, IdDocument %>
            <li class="<%= check_active('id_documents') %>">
              <%= link_to t('admin_header.id_documents'), admin_id_documents_path %>
            </li>
          <% end %>

          <% if can? :read, Proof %>
            <li class="<%= check_active(Proof) %>">
              <%= link_to t('.menus.items.operating.proofs'), admin_proofs_path %>
            </li>
          <% end %>

          <% if can? :menu, Deposit %>
            <li class="dropdown <%= check_active('deposits') %>">
              <%= link_to 'javascript:;', class: 'dropdown-toggle', 'data-toggle': 'dropdown' do %>
                <span><%= t('admin_header.deposits') %></span>
                <span class="caret"></span>
              <% end %>
              <ul class="dropdown-menu">
                <% DepositChannel.all.sort.each do |c| %>
                  <% if can? :manage, c.kls %>
                    <li><%= link_to c.title_text, [:admin, c.kls] %></li>
                  <% end %>
                <% end %>
              </ul>
            </li>
          <% end %>

          <% if can? :menu, Withdraw %>
            <li class="dropdown <%= check_active('withdraws') %>">
              <%= link_to 'javascript:;', class: 'dropdown-toggle', 'data-toggle': 'dropdown' do %>
                <span><%= t('admin_header.withdraws') %></span>
                <span class="caret"></span>
              <% end %>
              <ul class="dropdown-menu">
                <% WithdrawChannel.all.each do |c| %>
                  <% if can? :manage, c.kls %>
                    <li><%= link_to c.title_text, [:admin, c.kls] %></li>
                  <% end %>
                <% end %>
              </ul>
            </li>
          <% end %>

          <% if can? :manage, Member %>
            <li class="<% check_active('members') %>">
              <%= link_to t('.menus.sections.members'), admin_members_path %>
            </li>
          <% end %>

          <li class="dropdown <%= check_active('statistic') %>">
            <%= link_to 'javascript:;', class: 'dropdown-toggle', 'data-toggle': 'dropdown' do %>
              <span><%= t('admin_header.statistics') %></span>
              <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu">
              <% if can? :stat, Member %>
                <li class="<% check_active(Member) %>">
                  <%= link_to Member.model_name.human, admin_statistic_members_path %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t('actions.back'), main_app.root_path %></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= render 'shared/flash' %>
      <%= yield %>
    </div>
  </body>
</html>
