<!DOCTYPE html>
<html lang="en">
  <head>
    <%- stylesheet = content_for?(:stylesheet) ? yield(:stylesheet) : "application" %>

    <link href="/favicon.ico" rel="shortcut icon"></link>
    <%= include_gon %>
    <script type = 'text/javascript'>
      window.deposits = <%= raw @deposits.to_json %>
      window.accounts = <%= raw @accounts.to_json %>
      window.deposit_channels = <%= raw @deposit_channels.to_json %>
      window.current_user = <%= raw current_user.to_json %>
      window.currencies = <%= raw @currencies.to_json %>
    </script>
    <%= stylesheet_link_tag stylesheet, media: "all" %>
    <%= javascript_include_tag "emberapp" %>
    <%= yield(:scripts) if content_for?(:scripts) %>
    <%= render 'shared/html5' %>
    <%= render 'shared/meta' %>
    <%= csrf_meta_tags %>
  </head>

  <body id="<%= "#{controller_name}-#{action_name}" %>" data-lang="<%= "#{I18n.locale.to_s.downcase}" %>">

    <script type="text/x-handlebars" id="currencies">
      <div class='container'>
        {{#each model}}
          <h1>TEST<code>{{code}}</code></h1>
          {{#link-to 'deposits' this.code}}Deposits{{/link-to}}
          {{#link-to 'withdraws' this.code}}Withdraws{{/link-to}}
        {{/each}}
        {{outlet}}
      </div>
    </script>

    <script type="text/x-handlebars" id="currency">
      <h1>currency</h1>
      {{outlet}}
    </script>

    <script type='text/x-handlebars' id='deposits'>
      <h3>D</h3>
    </script>
    <script type='text/x-handlebars' id='withdraws'>
      <h3>W</h3>
    </script>

    <script type="text/x-handlebars">
      <div id="wrap">

        <%- if content_for?(:header) %>
          <%= yield(:header) %>
        <%- else %>
          <%= render 'shared/header' %>
        <%- end %>

        {{outlet}}

        <div id="push"></div>
      </div>

      <%- if content_for?(:footer) %>
        <%= yield(:footer) %>
      <%- else %>
        <%= render 'shared/footer' %>
      <%- end %>

    </script>
  </body>
</html>
